@import url("https://fonts.googleapis.com/css2?family=Montserrat");

$primaryColor: #66fcf1;
$primaryColorDarker: #45a29f;

$black: rgb(11, 12, 16);
$blackOpacity: rgba(11, 12, 16, 0.8);
$white: #e7eaef;
$grey: #202833;

$sizeTitle: 3.5em;
$sizeButton: 0.8em;
$sizeMenu: 1em;

body {
  background: $black;
  font-size: 20px;
  font-family: "Montserrat";
}

section {
  padding: 80px 0; /* x, y (80px zhora, 80px zdola)*/
  min-height: 100vh;
  color: $white;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

h1 {
  color: $primaryColor;
  font-size: $sizeTitle;
  margin: 0 0 1rem;
}

a {
  text-decoration: none;
}

.loader-container {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  .loader {
    width: 2em;
    height: 2em;
    border: 5px solid;
    color: $primaryColor;
    border-radius: 50%;
    border-top-color: transparent;
    animation: 1.5s linear loader infinite;
  }
}

@keyframes loader {
  25% {
    color: $primaryColor;
  }

  75% {
    color: $primaryColorDarker;
  }

  to {
    transform: rotate(360deg);
  }
}

.reveal {
  transform: translateY(150px);
  opacity: 0;
  transition: 1s ease all;
}

.active {
  transform: translateY(0px);
  opacity: 1;
}

#navBar {
  position: fixed;
  z-index: 1000;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-bottom: 0.5px solid $primaryColorDarker;
  transition: 0.5s ease all;
  top: 0px;

  .navbar {
    .navbar-nav {
      display: flex;
      column-gap: 1rem;

      .dropdown {
        display: flex;
        align-items: center;

        ul {
          background: $black;

          li {
            a:hover {
              background: none;
            }
          }
        }
      }
    }

    .navbar-brand {
      display: flex;
      column-gap: 1rem;
    }

    a {
      font-size: $sizeMenu;
      color: $white !important;

      &:hover {
        color: $primaryColor !important;
        transition: 0.5s ease color;
      }
    }

    @media (min-width: 992px) {
      .collapse {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

#introduction {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(/images/Backgrounds/start_page.jpg);
  background-size: cover;

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      position: relative;
      margin: 0 0 2rem;

      @media (max-width: 992px) {
        font-size: 3em;
      }

      @media (max-width: 772px) {
        font-size: 2em;
      }

      span {
        position: absolute;
        content: "";
        bottom: -1rem;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(69, 162, 159, 1) 40%,
          rgba(69, 162, 159, 1) 60%,
          rgba(0, 0, 0, 0) 100%
        );
      }
    }

    p {
      color: $white;

      @media (max-width: 360px) {
        font-size: 0.8em;
      }
    }
  }

  .scroll-to-next {
    position: absolute;
    bottom: 3.5em;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid $primaryColor;
    border-radius: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease background;

    a {
      text-decoration: none;
    }

    i {
      width: 30px;
      height: 30px;
      font-size: 1.5em;
      color: $primaryColor;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s ease color;
    }

    &:hover {
      background-color: $primaryColor;

      i {
        color: $black;
      }
    }

    &::before,
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      border: 1px solid $primaryColor;
      opacity: 1;
      border-radius: 100%;
      animation: pulsing 2s forwards infinite;
      transition: scale(1.01);
      pointer-events: none;
    }

    &::after {
      animation-delay: 0.5s;
    }
  }
}

.section-header {
  width: 100%;
  height: 5em;
  text-align: center;
  margin-bottom: 2em;

  @media (max-width: 992px) {
    font-size: 20px;
  }

  @media (max-width: 772px) {
    font-size: 18px;
  }

  @media (max-width: 700px) {
    font-size: 13px;
  }

  @media (max-width: 420px) {
    font-size: 8px;
  }
}

#about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(/images/Backgrounds/about_me_projects.jpg);
  background-size: cover;
  background-attachment: fixed;

  .area {
    padding: 0;
    height: 30em;
    border-radius: 0.5em 0.5em 0 0;
    display: flex;

    @media (max-width: 992px) {
      font-size: 13px;
    }

    @media (max-height: 720px) {
      font-size: 15px;
    }

    .area-image {
      width: 40%;
      height: 100%;
      border-radius: 0.5em 0 0 0;
      background: url(/images/Other/me.jpg);
      background-size: cover;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;

      @media (max-width: 1200px) {
        display: none;
      }
    }

    .area-text {
      width: 60%;
      height: 100%;
      border-radius: 0 0.5em 0 0;
      background-color: rgba(0, 0, 0, 0.6);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      text-align: justify;
      row-gap: 2em;
      padding: 2em;

      @media (max-width: 1200px) {
        width: 100%;
        font-size: 18px;
      }

      @media (max-width: 772px) {
        font-size: 14px;
      }

      @media (max-width: 440px) {
        font-size: 12px;
      }

      a {
        color: $primaryColor;
      }

      .area-images {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-content: center;
        column-gap: 0.5em;

        img {
          width: 6em;
          height: 6em;
          transition: 0.25s ease-out transform;

          &:hover {
            transform: scale(1.1);
          }
        }

        @media (max-width: 1200px) {
          img {
            width: 4em;
            height: 4em;
          }
        }
      }
    }
  }
}

#projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(/images/Backgrounds/about_me_projects.jpg);
  background-size: cover;
  background-attachment: fixed;

  .project-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 1em;
    row-gap: 2em;

    .project {
      background-color: $black;
      display: flex;
      flex: 1;
      flex-basis: 300px;
      flex-shrink: 0;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      transition: 0.25s ease-out transform;
      row-gap: 1.5rem;

      @media (min-width: 1200px) {
        flex-basis: 500px;
      }

      @media (min-width: 1700px) {
        flex-basis: 300px;
      }

      @media (max-height: 720px) {
        flex-basis: 200px;
        font-size: 0.9em;
      }

      &:hover {
        transform: scale(1.025);
      }

      .project-image {
        width: 100%;
        min-height: 180px;

        img {
          object-position: top;
        }
      }

      .project-header {
        display: flex;
        justify-content: center;

        h2 {
          color: $primaryColor;
          text-align: center;
          font-size: 1.3em;
        }
      }

      .project-info {
        font-size: 0.8em;
        text-align: center;
        min-height: 70px;
        padding: 0 0.5em;
        height: 80px;
      }

      .project-buttons {
        display: flex;
        column-gap: 2rem;
        padding: 0 0 1em 0;

        .project-button {
          background-color: $black;
          color: $primaryColor;
          border-radius: 0.5em;
          border: 1px $primaryColorDarker solid;
          outline: none;
          transition: 0.25s ease-out all;
          padding: 0.5em;

          &:hover {
            background-color: $primaryColorDarker;
            color: $white;
          }
        }
      }
    }
  }
}

footer {
  width: 100%;
  height: 6.6169vh;
  border-top: 0.5px solid $primaryColorDarker;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    color: white;
    padding-top: 1rem;
  }
}

@keyframes pulsing {
  0% {
    transition: scale(1.01);
    opacity: 1;
  }

  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}

.visible {
  display: inline !important;
}

.github-text {
  font-size: $sizeMenu - 0.3em;
}

.email-text {
  font-size: $sizeMenu - 0.3em;
}

.main-project {
  background: url(/images/Backgrounds/about_me_projects.jpg);
  background-size: cover;
  background-attachment: fixed;

  .project-wrapper {
    height: max-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-direction: row;
    background: $blackOpacity;
    border-radius: 0.5em 0.5em 0em 0em;

    .project-text {
      width: 60%;
      height: 100%;
      padding: 1em;
      text-align: justify;

      @media (max-width: 1200px) {
        width: 100%;
      }

      @media (max-width: 992px) {
        font-size: 13px;
      }

      @media (max-height: 720px) {
        font-size: 14px;
      }

      a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        transition: 0.5s ease color;

        &:hover {
          color: $primaryColor;
        }
      }

      h2 {
        margin-top: 1.5em;
        font-weight: bold;
        font-size: 1.25em;
      }
    }

    .project-images {
      width: 40%;
      height: auto;

      @media (max-width: 1200px) {
        display: none;
      }

      .project-image-1 {
        margin: 1em;
        transition: 0.5s ease transform;

        &:hover {
          transform: scale(1.05);
        }
      }

      .project-image-2 {
        margin: 1em;
        transition: 0.5s ease transform;

        &:hover {
          transform: scale(1.05);
        }
      }

      .github-link {
        font-size: 50px;
        text-align: center;

        .fab {
          color: $primaryColor !important;
          transition: 0.5s ease color;

          &:hover {
            color: $white !important;
          }
        }
      }
    }
  }
}
