@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
body {
  background: #0b0c10;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

section {
  padding: 80px 0;
  /* x, y (80px zhora, 80px zdola)*/
  min-height: 100vh;
  color: #e7eaef;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

h1 {
  color: #66fcf1;
  font-size: 3.5em;
  margin: 0 0 1rem;
}

a {
  text-decoration: none;
}

.loader-container {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9999;
}

.loader-container .loader {
  width: 2em;
  height: 2em;
  border: 5px solid;
  color: #66fcf1;
  border-radius: 50%;
  border-top-color: transparent;
  -webkit-animation: 1.5s linear loader infinite;
          animation: 1.5s linear loader infinite;
}

@-webkit-keyframes loader {
  25% {
    color: #66fcf1;
  }
  75% {
    color: #45a29f;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  25% {
    color: #66fcf1;
  }
  75% {
    color: #45a29f;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.reveal {
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
  opacity: 0;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

.active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

#navBar {
  position: fixed;
  z-index: 1000;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-bottom: 0.5px solid #45a29f;
  top: 0px;
}

@media (min-width: 2500px) {
  #navBar .navbar {
    font-size: 1em;
  }
}

@media (min-width: 2000px) and (min-height: 1080) and (max-width: 2500px) and (max-height: 1440px) {
  #navBar .navbar {
    font-size: .9em;
  }
}

#navBar .navbar .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

#navBar .navbar .navbar-nav .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navBar .navbar .navbar-nav .dropdown ul {
  background: #0b0c10;
}

#navBar .navbar .navbar-nav .dropdown ul li a:hover {
  background: none;
}

#navBar .navbar .navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

#navBar .navbar a {
  font-size: 1em;
  color: #e7eaef !important;
}

@media (min-width: 2000px) {
  #navBar .navbar a {
    font-size: 1.4em;
  }
}

#navBar .navbar a:hover {
  color: #66fcf1 !important;
  -webkit-transition: .5s ease color;
  transition: .5s ease color;
}

@media (min-width: 992px) {
  #navBar .navbar .collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

#introduction {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(/images/Backgrounds/start_page.jpg);
  background-size: cover;
}

#introduction .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#introduction .content h1 {
  position: relative;
  margin: 0 0 2rem;
}

@media (min-width: 2000px) and (min-height: 1080) and (max-width: 2500px) and (max-height: 1440px) {
  #introduction .content h1 {
    font-size: 4em;
  }
}

@media (max-width: 992px) {
  #introduction .content h1 {
    font-size: 3em;
  }
}

@media (max-width: 772px) {
  #introduction .content h1 {
    font-size: 2.5em;
  }
}

@media (max-width: 360px) {
  #introduction .content h1 {
    font-size: 2em;
  }
}

@media (max-width: 300px) {
  #introduction .content h1 {
    font-size: 1.8em;
  }
}

#introduction .content h1 span {
  position: absolute;
  content: "";
  bottom: -1rem;
  left: 0;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(40%, #45a29f), color-stop(60%, #45a29f), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #45a29f 40%, #45a29f 60%, rgba(0, 0, 0, 0) 100%);
}

#introduction .content p {
  color: #e7eaef;
}

@media (min-width: 2000px) and (min-height: 1080) and (max-width: 2500px) and (max-height: 1440px) {
  #introduction .content p {
    font-size: 1.5em;
  }
}

@media (max-width: 992px) {
  #introduction .content p {
    font-size: 1em;
  }
}

@media (max-width: 772px) {
  #introduction .content p {
    font-size: .9em;
  }
}

@media (max-width: 360px) {
  #introduction .content p {
    font-size: .7em;
  }
}

@media (max-width: 300px) {
  #introduction .content p {
    font-size: .65em;
  }
}

#introduction .scroll-to-next {
  position: absolute;
  bottom: 3.5em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 3px solid #66fcf1;
  border-radius: 100%;
  padding: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s ease background;
  transition: .3s ease background;
}

#introduction .scroll-to-next a {
  text-decoration: none;
}

#introduction .scroll-to-next i {
  width: 30px;
  height: 30px;
  font-size: 1.5em;
  color: #66fcf1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s ease color;
  transition: .3s ease color;
}

@media (min-width: 2000px) {
  #introduction .scroll-to-next i {
    width: 40px;
    height: 40px;
    font-size: 2em;
  }
}

@media (max-width: 992px) {
  #introduction .scroll-to-next i {
    width: 25px;
    height: 25px;
    font-size: 1em;
  }
}

@media (max-width: 360px) {
  #introduction .scroll-to-next i {
    width: 15px;
    height: 15px;
    font-size: .8em;
  }
}

#introduction .scroll-to-next:hover {
  background-color: #66fcf1;
}

#introduction .scroll-to-next:hover i {
  color: #0b0c10;
}

#introduction .scroll-to-next::before, #introduction .scroll-to-next::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border: 1px solid #66fcf1;
  opacity: 1;
  border-radius: 100%;
  -webkit-animation: pulsing 2s forwards infinite;
          animation: pulsing 2s forwards infinite;
  -webkit-transition: scale(1.01);
  transition: scale(1.01);
  pointer-events: none;
}

#introduction .scroll-to-next::after {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.section-header {
  width: 100%;
  height: 5em;
  text-align: center;
  margin-bottom: 2em;
}

@media (min-width: 2000px) and (min-height: 1080) and (max-width: 2500px) and (max-height: 1440px) {
  .section-header {
    font-size: 24px;
  }
}

@media (max-width: 992px) {
  .section-header {
    font-size: 20px;
  }
}

@media (max-width: 772px) {
  .section-header {
    font-size: 18px;
  }
}

@media (max-width: 700px) {
  .section-header {
    font-size: 13px;
  }
}

@media (max-width: 440px) {
  .section-header {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  .section-header {
    font-size: 9px;
  }
}

#about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(/images/Backgrounds/about_me_projects.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#about-me .area {
  padding: 0;
  height: 30em;
  border-radius: .5em .5em 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1600px) {
  #about-me .area {
    font-size: 18px;
    height: 27em;
  }
}

@media (max-width: 992px) {
  #about-me .area {
    font-size: 13px;
  }
}

@media (max-height: 720px) {
  #about-me .area {
    font-size: 15px;
  }
}

@media (max-width: 420px) {
  #about-me .area {
    height: 25em;
  }
}

@media (max-width: 360px) {
  #about-me .area {
    height: 20em;
  }
}

#about-me .area .area-image {
  width: 40%;
  height: 100%;
  border-radius: .5em 0 0 0;
  background: url(/images/Other/me.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 1200px) {
  #about-me .area .area-image {
    display: none;
  }
}

#about-me .area .area-text {
  width: 60%;
  height: 100%;
  border-radius: 0 .5em 0 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: justify;
  padding: 2em;
}

@media (min-width: 2000px) {
  #about-me .area .area-text {
    font-size: 20px;
  }
}

@media (max-width: 1200px) {
  #about-me .area .area-text {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1.5em;
    font-size: 24px;
  }
}

@media (max-width: 772px) {
  #about-me .area .area-text {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1.5em;
    font-size: 18px;
  }
}

@media (max-width: 440px) {
  #about-me .area .area-text {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1.5em;
    font-size: 18px;
  }
}

@media (max-width: 360px) {
  #about-me .area .area-text {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1.5em;
    font-size: 14px;
  }
}

#about-me .area .area-text a {
  color: #66fcf1;
}

#about-me .area .area-text .area-images {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-column-gap: .5em;
          column-gap: .5em;
}

#about-me .area .area-text .area-images img {
  width: 6em;
  height: 6em;
  -webkit-transition: .25s ease-out transform;
  transition: .25s ease-out transform;
}

@media (max-width: 1200px) {
  #about-me .area .area-text .area-images img {
    width: 6.5em;
    height: 6.5em;
  }
}

@media (max-width: 990px) {
  #about-me .area .area-text .area-images img {
    display: none;
  }
}

#about-me .area .area-text .area-images img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(/images/Backgrounds/about_me_projects.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#projects .project-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  row-gap: 2em;
}

#projects .project-wrapper .project {
  background-color: rgba(11, 12, 16, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: .25s ease-out transform;
  transition: .25s ease-out transform;
  row-gap: 1.5rem;
}

@media (min-width: 1400px) {
  #projects .project-wrapper .project {
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
  }
}

@media (max-height: 720px) {
  #projects .project-wrapper .project {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
    font-size: .9em;
  }
}

#projects .project-wrapper .project:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

#projects .project-wrapper .project .project-image {
  width: 100%;
  min-height: 180px;
}

#projects .project-wrapper .project .project-image img {
  -o-object-position: top;
     object-position: top;
}

#projects .project-wrapper .project .project-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#projects .project-wrapper .project .project-header h2 {
  color: #66fcf1;
  text-align: center;
  font-size: 1.3em;
}

#projects .project-wrapper .project .project-info {
  font-size: .8em;
  text-align: center;
  min-height: 70px;
  padding: 0 .5em;
  height: 80px;
}

#projects .project-wrapper .project .project-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  padding: 0 0 1em 0;
}

#projects .project-wrapper .project .project-buttons .project-button {
  background-color: #0b0c10;
  color: #66fcf1;
  border-radius: .5em;
  border: 1px #45a29f solid;
  outline: none;
  -webkit-transition: .25s ease-out all;
  transition: .25s ease-out all;
  padding: .5em;
}

#projects .project-wrapper .project .project-buttons .project-button:hover {
  background-color: #45a29f;
  color: #e7eaef;
}

footer {
  width: 100%;
  height: 6.6169vh;
  border-top: 0.5px solid #45a29f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer p {
  color: white;
  padding-top: 1rem;
}

@media (min-width: 2000px) {
  footer p {
    font-size: 1.2em;
  }
}

@media (max-width: 440px) {
  footer p {
    font-size: .7em;
  }
}

@media (max-width: 360px) {
  footer p {
    font-size: .6em;
  }
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transition: scale(1.01);
    transition: scale(1.01);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
    opacity: 0;
  }
}

@keyframes pulsing {
  0% {
    -webkit-transition: scale(1.01);
    transition: scale(1.01);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
    opacity: 0;
  }
}

.main-project {
  background: url(/images/Backgrounds/about_me_projects.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.main-project .project-wrapper {
  height: 33em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: row;
  background: rgba(11, 12, 16, 0.8);
  border-radius: .5em .5em 0em 0em;
}

@media (min-height: 750px) {
  .main-project .project-wrapper {
    font-size: .8em;
    height: auto;
  }
}

@media (min-width: 1920px) {
  .main-project .project-wrapper {
    height: 32em;
    font-size: 1em;
  }
}

@media (max-width: 1280px) {
  .main-project .project-wrapper {
    height: 30em;
  }
}

@media (max-width: 990px) {
  .main-project .project-wrapper {
    height: auto;
  }
}

@media (max-width: 360px) and (max-height: 640px) {
  .main-project .project-wrapper {
    height: auto;
  }
}

@media (max-width: 360px) and (max-height: 480px) {
  .main-project .project-wrapper {
    height: auto;
  }
}

.main-project .project-wrapper .project-text {
  width: 60%;
  height: 100%;
  padding: 1em;
  text-align: justify;
}

@media (max-width: 1200px) {
  .main-project .project-wrapper .project-text {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .main-project .project-wrapper .project-text {
    font-size: 13px;
  }
}

@media (max-height: 720px) {
  .main-project .project-wrapper .project-text {
    font-size: 14px;
  }
}

@media (max-width: 440px) {
  .main-project .project-wrapper .project-text {
    font-size: 11.25px;
  }
}

@media (max-width: 360px) and (max-height: 480px) {
  .main-project .project-wrapper .project-text {
    font-size: 10px;
  }
}

.main-project .project-wrapper .project-text a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  -webkit-transition: .5s ease color;
  transition: .5s ease color;
}

.main-project .project-wrapper .project-text a:hover {
  color: #66fcf1;
}

.main-project .project-wrapper .project-text h2 {
  margin-top: 1.5em;
  font-weight: bold;
  font-size: 1.25em;
}

.main-project .project-wrapper .project-images {
  width: 40%;
  height: auto;
}

@media (max-width: 1200px) {
  .main-project .project-wrapper .project-images {
    display: none;
  }
}

.main-project .project-wrapper .project-images .project-image-1 {
  margin: 1em;
  -webkit-transition: .5s ease transform;
  transition: .5s ease transform;
}

.main-project .project-wrapper .project-images .project-image-1:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (min-height: 750px) {
  .main-project .project-wrapper .project-images .project-image-1 {
    height: 12em;
  }
}

.main-project .project-wrapper .project-images .project-image-2 {
  margin: 1em;
  -webkit-transition: .5s ease transform;
  transition: .5s ease transform;
}

.main-project .project-wrapper .project-images .project-image-2:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (min-height: 750px) {
  .main-project .project-wrapper .project-images .project-image-2 {
    height: 12em;
  }
}

.main-project .project-wrapper .project-images .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 2em;
          column-gap: 2em;
}

.main-project .project-wrapper .project-images .icons .link {
  font-size: 50px;
  text-align: center;
}

.main-project .project-wrapper .project-images .icons .link .icon {
  color: #66fcf1 !important;
  -webkit-transition: .5s ease color;
  transition: .5s ease color;
}

.main-project .project-wrapper .project-images .icons .link .icon:hover {
  color: #e7eaef !important;
}
/*# sourceMappingURL=styles.css.map */